<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" style="padding:15px 15px 5px 15px;margin-top:-5px" href="//www.windowsazure.com/"><img 
          src="img/windowsazurelogo.png" style="width:218px;height:35px;border:0px"
          alt="Windows Azure" title="Windows Azure" /></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="liDelete" style="display: none"><a href="#" id="delete">Delete</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      <div class="nav pull-right">
        <li>
          {{#linkTo "index"}}
            Table Service Explorer
          {{/linkTo}}
        </li>
      </div>
    </div>
  </div>
</div>
